.main {
  line-height: 1.6;
  font-size: 16px;
  background-color: #266ad9;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 72px;
  padding-left: 117px;
  padding-right: 117px;
  width: 100vw;
  border-top: 10px solid #262e34;
}

.mainContent {
  max-width: 1440px;
  justify-content: start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.backLink {
  font-size: 20px;
  font-weight: 600;
  background-color: #ffffff;
  color: #266ad9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 230px;
  height: 52px;
  gap: 10px;
  text-decoration: none;
  padding-inline: 20px;
  padding-block: 14px;
}

.h1 {
  font-size: 64px;
}

.h2 {
  font-size: 48px;
}

@media (max-width: 1024px) {
  .main {
    padding-left: 48px;
    padding-right: 48px;
  }

  .h1 {
    font-size: 48px;
  }

  .h2 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .main {
    padding-top: 40px;
    padding-bottom: 56px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .mainContent {
    max-width: 100%;
  }

  .backLink {
    width: 100%;
    height: 48px;
    font-size: 16px;
    margin-bottom: 32px;
  }

  .h1 {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 24px;
  }

  .h2 {
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 12px;
  }

  p,
  li {
    font-size: 15px;
    line-height: 1.6;
  }

  ul {
    padding-left: 18px;
  }
}

@media (max-width: 390px) {
  .h1 {
    font-size: 30px;
  }

  .h2 {
    font-size: 22px;
  }

  .backLink {
    font-size: 15px;
    height: 44px;
  }
}
