.about {
  padding-top: 60px;
  padding-bottom: 72px;
  padding-left: 117px;
  padding-right: 117px;
  gap: 115px;
  background-color: #266ad9;
  color: #ffffff;
  height: 635px;
  display: flex;
  justify-content: center;
}

.header {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 110px;
  padding-right: 106px;
  background-color: #266ad9;
  height: 109px;
  display: flex;
  justify-content: center;
}


.left {
  display: flex;
  flex-direction: column;
  width: 664px;
}

.right {
    height: 479px;
    width: 441px;
    border-radius: 30px;
    background-color: #1d4fa0ab;
}

.profilePic{
    height: 479px;
}

h1 {
  font-size: 88px;
  font-weight: 700;
}

.preferences {
  font-size: 32px;
  font-weight: 500;
}

.description {
  font-size: 22px;
  font-weight: 600;
}

.aboutlink {
  font-size: 20px;
  font-weight: 600;
  background-color: #ffffff;
  color: #266ad9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 151px;
  height: 52px;
  gap: 10px;
  text-decoration: none;
}

.aboutlink:hover{
    text-decoration: none;
    color: #266ad9;
    background-color: #e6e6e6;
    cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;

}


