.contact {
  padding-top: 60px;
  padding-bottom: 72px;
  padding-left: 117px;
  padding-right: 117px;
  gap: 115px;
  background-color: #262e34;
  color: #ffffff;
  height: 357px;
  display: flex;
  justify-content: center;
}


.container {
  width: 100%;
  max-width: 1440px;
}

.content{
    display: flex;
    justify-content: space-between;
}