.header {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-inline: 24px;
  padding-inline: auto;
  background-color: #266bd9;
  height: 109px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.headerlink {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.headerlink:hover {
  text-decoration: underline;
  color: #ffffff;
  cursor: pointer;
}

.headerDiv {
  display: flex;
  justify-content: space-between;
  width: 657px;
  height: 29px;
  z-index: 3;
}

.container {
  max-width: 1176px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.headerMobil {
  display: none;
}

@media (max-width: 768px) {
  .headerMobil {
    height: 73px;
    width: 100%;
    background-color: #266ad9;
    display: flex;
    align-items: center;
    position: relative;
    gap: 24px;
  }

  .containerMobil {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
  }

  .burgerMobil {
    font-size: 28px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }

  .mobileMenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 304px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .closeMobil {
    align-self: flex-end;
    margin: 16px 24px 0 0;
    font-size: 32px;
    background: none;
    border: none;
    color: #266ad9;
    cursor: pointer;
  }

  .menuLinksMobil {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .menuLinksMobil a {
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    color: #266ad9;
    text-decoration: none;
    cursor: pointer;
  }
}
