.skills {
  background-color: #262e34;
  padding-top: 60px;
  padding-bottom: 72px;
  padding-inline: 16px;
  padding-inline: auto;
  gap: 115px;
  color: #ffffff;
  height: auto;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1176px;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

.skillSection {
  width: 100%;
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
}

.mySkills {
  position: relative;
  text-align: center;

  height: 200px;
  width: 376px;
  padding-block: 42px;
  padding-inline: 71px;
  background-color: #91c9f31a;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mySkillsRow {
  height: 200px;
  gap: 24px;
  display: flex;
}

.skillImg {
  display: block;
  height: 80px !important;
  width: 70px;
}

.skillPng {
  height: 80px;
  width: 80px;
}

.skillName {
  font-size: 18px;
  font-weight: 500;
  width: 133px;
  text-align: center;
  margin: 0;
  letter-spacing: 0%;
  line-height: 100%;
}

.skillDesc {
  background-color: #79b8ff80;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #ffffff;
  text-align: left;
  padding-inline: 31px;
  padding-block: 22px;
  border-radius: 30px;
  height: 200px;
}

.descHead {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: start;
  line-height: 120%;
  letter-spacing: 0%;
}

.descText {
  display: flex;
  justify-content: start;
  font-display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}

.mySkills:hover .skillImg {
  opacity: 0;
}

.mySkills:hover .skillPng {
  opacity: 0;
}

.mySkills:hover .skillName {
  opacity: 0;
}

.mySkills:hover .skillDesc {
  display: block;
}

@media (max-width: 1225px) {
  .mySkills {
    width: 30%;
  }
}

@media (max-width: 1045px) {
  .mySkills {
    height: 220px;
  }

  .skillDesc {
    height: 220px;
  }
  .descHead {
    line-height: 100%;
  }

  .descText {
    font-size: 14px;
  }
}
