.footer {
  padding-top: 60px;
  padding-bottom: 72px;
  padding-inline: 24px;
  padding-inline: auto;
  gap: 115px;
  background-color: #262e34;
  color: #ffffff;
  height: 357px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1176px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upArrow {
  height: 90px;
  width: 40px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.upArrow:hover {
  background-color: rgba(255, 255, 255, 0.089);
}

.footerLinks {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  color: #ffffff;
  text-decoration: none;
}

.footerLinks:hover {
  text-decoration: underline;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
}
