@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/quicksand.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Globale Anwendung */
html, body {
  font-family: "Quicksand", sans-serif!important;
}

h1, h2, h3, button{
    font-family: "Quicksand", sans-serif!important;
}